$colors: (
  common: (
    white: #ffffff,
    black: #000000,
    orange-red: #ed544b,
    dpink: #b51a65,
    red: #c60b1e,
    orange: #ed544b,
    pink-red: "#B60666",
    border: #e4e4e4,
    border-input: #1e1e1e,
    blue-white: #e5edf1,
    gray: #6f7271,
    gray-light: #f8f8f8,
    placeholder: #b7b7b7,
  ),
  heading: (
    primary: #5e61b5,
  ),
  grey: (
    1: #f7f8fd,
    2: #f8f8f8,
  ),
  text: (
    body: #ffffff,
    p: #ffffff,
  ),
  theme: (
    1: #006341,
    2: #b21227,
    3: #75787b,
    4: #1aa004,
    5: #e63422,
    6: #53565a,
    7: #efe0df,
    8: #982627,
    9: #0d0d0d,
    10: #898989,
    primary: #006341,
    secondary: #af2727,
  ),
  border: (
    1: #e8ecf2,
  ),
);
